.MovieLibrary {
  text-align: center;
  background: #222222;
  min-height: 100vh;
}

.ML-logo {
  animation: ML-logo-spin infinite 8s ease;
  height: 80px;
}

.ML-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.ML-title {
  font-size: 1.5em;
}

.ML-intro {
  font-size: large;
}

@keyframes ML-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}
